// TELMI Custom Colors

// Primary Colors

$color-blue:          #3FA9F5;
$color-blue-shade1:   #3898DC;
$color-blue-tint5:    #9FD4FA;
$color-blue-tint9:    #EBF6Fe;

$color-green:         #7AC943;
$color-green-shade1:  #6DB43C;
$color-green-tint5:   #BCE4A1;
$color-green-tint9:   #F1F9EC;

// Secondary Colors

$color-amber:         #E3BC35;
$color-red:           #DF533C;
$color-indigo:        #523DD6;
$color-seagreen:      #27B47D;

// Neutral Colors

$color-grey-80:       #333333;
$color-grey-60:       #656565;
$color-grey-34:       #A9A9A9;
$color-grey-24:       #C1C1C1;
$color-grey-05:       #F1F1F1;
